:root
{
	--blue: #0BA1B7;
	--blue-mid: #52C4D54D;
	--blue-light: #00DEFF0D;
	--green: #78C1AD;

	--text: #EEEEEE;
	--text-light: #D5D5D5B2;
	--text-lighter: #D5D5D547;
	--body: #2B2A2A;
	--body-transparent: #2B2A2AA3;
	--background: #1E1D1D;
	--border: #393939;
	--hover: #FFFFFF12;

	--good: #5EDB89;
	--bad: #FB4141;
	--warning: #F7A945;
	--alert: #FF743E;
	--unknown: #5CBFFB;

	--good-transparent: #5EDB8921;
	--bad-transparent: #FB414121;
	--warning-transparent: #F7A94521;
	--alert-transparent: #FF743E21;
	--unknown-transparent: #5CBFFB21;

	--shadow: 0px 0px 2px 2px #0000001F;
}