:root
{
	--blue: #0BA1B7;
	--blue-mid: #0BA1B74D;
	--blue-light: #0BA1B70D;
	--green: #78C1AD;
	
	--text: #515050;
	--text-light: #515050B3;
	--body: #FFFFFF;
	--background: #f4f4f4;
	--border: #EEE;
	--hover: #00000012;

	--good: #35A65C;
	--bad: #C10000;
	--warning: #FF8F00;
	--alert: #EE4300;
	--unknown: #1A8CD0;

	--good-transparent: #35A65C12;
	--bad-transparent: #C1000012;
	--warning-transparent: #FF8F0012;
	--alert-transparent: #EE430012;
	--unknown-transparent: #1A8CD012;

	--shadow: 0px 0px 2px 2px #0000001F;
}